<h1 style="align-self: center;"><b>2018-2019</b></h1>

<h3>Department Freshers Orientation</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1819/28.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1819/10.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1819/14.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1819/11.JPG" class="img-fluid images">
    </div>
</div>

<h3>Kurta Day - I</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11819/1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11819/35.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11819/20.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11819/27.JPG" class="img-fluid images">
    </div>
</div>

<h3>Core Talks</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/core talks 1819/5.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/core talks 1819/2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/core talks 1819/6.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/core talks 1819/10.JPG" class="img-fluid images">
    </div>
</div>