<section id="contact" style="margin-top: 0px; bottom: 0px;">

    <hr class="fhr" style="padding-top: 0px;">
      <div class="container-fluid padding" id="place5">
          <div class="row text-center">

                <!--div class="col-lg-2 col-sm-6"-->
                <div class="col-lg-4 col-sm-6">
                        <h4 class="display-6"><b>External Navigation</b></h4>
                        <hr class="hr1">
                        <div class="area">
                            <a class="exlinks" href="#" href="http://www.aakaariitb.in/" target="_blank">Aakaar</a>  
                            <hr class="hr2">
                            <a class="exlinks" href="#" href="http://www.civil.iitb.ac.in/"  target="_blank">Civil IITB</a> 
                            <hr class="hr2">
                            <a class="exlinks" href="#" href="http://www.iitb.ac.in/"  target="_blank">IITB Main Site</a> 
                
                        </div>
            
                       
                    </div>
           
            <!--div class="col-lg-2 col-sm-6"-->        
            <div class="col-lg-4 col-sm-6">
                <h4 class="display-6"><b>Connect with us</b></h4>
                <hr class="hr1"><br>
                <div class="area ">
                    <div class=" social padding">
                        <a href="#" href="https://www.facebook.com/ceaiitb/" target="_blank"><i class="fa fa-facebook-f"></i></a>
                        <a href="#" href="https://www.youtube.com/channel/UCI8BSW0QwH2H4WFt8Th6uXw" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        <a href="#" href="https://www.linkedin.com/company/civil-engineering-association-iit-bombay/" target="_blank"><i class="fa fa-linkedin" ></i></a>
                        <a href="#" href="https://www.instagram.com/cea.iitb/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <br><br>
                        <p><i>Stay In Touch </i></p>  
                      </div>
    
                </div>
                
            </div>
           
            <!--div class="col-lg-3 col-sm-6"-->
            <div class="col-lg-4 col-sm-12">
                <h4 class="display-6"><b>Contact Info</b></h4>
                <hr class="hr1">
                <div class="area areacontact">
                    <p>
                         <i class="fa fa-map-marker" style="font-size: 20px;"></i><br>
                      <i> The Head, Department of Civil Engineering,
                          Indian Institute of Technology Bombay,
                          Powai, Mumbai - 400076, India. </i> 
                        <br>
                        <b class="bhead"><i class="fa fa-phone"></i>:</b>
                       <i> +91-22-2576 7301</i>
                        <br>
                        <b class="bhead"><i class="fa fa-fax"></i>:</b>
                       <i>+91-22-2576 7302</i> 
                        <br>
                        <b class="bhead"><i class="fa fa-envelope"></i>:</b>
                      <i> hod@civil.iitb.ac.in</i> 
                      
                      </p>
    
                </div>
               
            </div>  
        </div>
    </div>
    
    <p class="pf" style=" color:#333; text-align: center; padding-top: 10px;margin-top:20px ; margin-bottom:-20px; height: 60px">
        &copy;Civil Engineering Association IIT Bombay | All rights reserved 2021
    </p>
    
</section>