<div class="main">
    <div class="blank" style="height: 50px;"></div>
    
    <section class="sectioncouncil" id="council">
        <div class="container1">
            <div class="heading" style="background-color:rgba(0,0,0,0.8);width: 100%;margin-top: 30px; border: 2px silver solid;">
                <h4 class="display-4">CEA Editorial Team</h4>
                <h6> 2022-23</h6>
            </div>
      
            <div class="profiles" style="padding-left:15px; padding-right:15px ;">

        <!-- <div class="col-lg-2 col-md-4 mb-3 mb-lg-0"> -->
      
        <div class="row pb-5 mb-4 outer text-center">
      
            
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-md border-0 rounded ">
                    <div class="card-body p-0"><img src="assets/img/council2k23/rohit.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                        <div class="p-4">
                            <h5 class="mb-0 names">Rohit Meena</h5>
                            <p class="medium">Chief Editor</p>
                            <p class="small text-muted">
                                +91 8976374001<br>
                                210040127@iitb.ac.in
                            </p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="https://www.facebook.com/gr.meena.3557" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item m-0"><a href="https://www.instagram.com/rxm3443" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/rohit-meena-b6882a244" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
              </div> 
        


              <div class="row pb-5 mb-4 outer text-center">
      
            
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Khwaish.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Khwaish </h5>
                                <p class="medium">Editor</p>
                                <p class="small text-muted">
                                    +91 6377594290<br>
                                    khwaishone1@gmail.com                                
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://instagram.com/sau_khwaishaan_?igshid=NGExMmI2YTkyZg==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href=" https://www.linkedin.com/in/khwaish-ghumaria-a4240b256 " class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Shubham.png" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Shubham</h5>
                                <p class="medium">Editor</p>
                                <p class="small text-muted">
                                    +91 9540930439<br>
                                    Kamwalshubham2003@gmail.com
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li> 
                                    <li class="list-inline-item m-0"><a href="https://www.instagram.com/shubhamkamwal._/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href=" linkedin.com/in/shubham-kamwal-59a608266" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Annu.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Annu Kumari</h5>
                                <p class="medium">Editor</p>
                                <p class="small text-muted">
                                    +91 8271505367<br>
                                    krishthakura@gmail.com
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.instagram.com/cea.iitb/?hl=en/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/annu-kumari-89ab02263" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        
            
            <div class="row pb-5 mb-4 outer text-center">
      
            
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Ayakshma.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Ayakshma Sharma </h5>
                                <p class="medium">Editor</p>
                                <p class="small text-muted">
                                    +91 7891999511<br>
                                    ayakshma@gmail.com 
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://instagram.com/ayakshmasharma?igshid=NGExMmI2YTkyZg==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/ayakshma-sharma-7266bb252" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Anushka.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Anushka Singh</h5>
                                <p class="medium">Editor</p>
                                <p class="small text-muted">
                                    +91 9576244406<br>
                                    anuskasingh835@gmail.com
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/profile.php?id=100075043179560" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li> 
                                    <li class="list-inline-item m-0"><a href=" https://www.instagram.com/itzz_abhie/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/abhishek-singh-079504228" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card shadow-md border-0 rounded ">
                        <div class="card-body p-0"><img src="assets/img/council2k23/Tanishka.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                            <div class="p-4">
                                <h5 class="mb-0 names">Tanishka Yadav </h5>
                                <p class="medium">Editorial(Design Secretary)</p>
                                <p class="small text-muted">
                                    +91 6376410205<br>
                                    tanishkayadavk@gmail.com
                                </p>
                                <ul class="social mb-0 list-inline mt-3">
                                    <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://instagram.com/y_tanishkaa?igshid=MzNlNGNkZWQ4Mg==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item m-0"><a href="https://www.linkedin.com/company/civil-engineering-association-iit-bombay/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
    </div>        
