<h1 style="align-self: center;"><b>2019-2020</b></h1>

<h3>Department Freshers Orientation</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-5  col-6">
        <img src="assets/img/pics/FO1920/1.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1920/2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1920/3.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1920/4.JPG" class="img-fluid images">
    </div>
</div>

<h3>Traditional Day - I</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11920/5.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11920/4.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11920/11.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11920/14.JPG" class="img-fluid images">
    </div>
</div>