<nav class="navbar-expand-lg navbar-light bg-light sticky-top navbar" id="navbar  ">
    <a class="navbar-brand brandname" href="#">
        <img src="assets/img/cea_black.png" height="30px">&nbsp;
        Civil Engineering Association, IIT Bombay</a>
    <button class="navbar-toggler navbuttons" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  

    <div class="collapse navbar-collapse navbuttons" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a class="nav-lin" routerLinkActive="nav-active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin" routerLinkActive="nav-active" routerLink="/gallery/202223">Gallery</a>
        </li>
        <li class="nav-item" >
          <a class="nav-lin" routerLinkActive="nav-active" routerLink="/council" >Council</a>   
        </li>
        <li class="nav-item">
          <a class="nav-lin" routerLinkActive="nav-active" routerLink="/editors" >Editors</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin" routerLinkActive="nav-active" href="#seminars" id="seminar">Seminars</a>
        </li>
        <li class="nav-item">
          <a class="nav-lin" routerLinkActive="nav-active" routerLink="/publications/P202324">Publications</a>
        </li>
        
       
      </ul>
    </div>
</nav>
