<div class="main">
    <div class="blank" style="height: 50px;"></div>
    
    <section class="sectioncouncil" id="council">
        <div class="container1">
            <div class="heading" style="background-color: rgba(0,0,0,0.8) ;width: 100%;margin-top: 30px; border: 2px silver solid;">
                <h4 class="display-4">CEA Council</h4>
                <h6> 2023-24</h6>
            </div>
      
            <div class="profiles" style="padding-left:15px; padding-right:15px ;">
            
                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" >
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded">
                            <div class="card-body p-0"><img src="assets/img/council2k23/hod.png" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Prof. Deepankar Choudhary</h5>
                                    <p class="medium">Head of Department</p>
                                    <p class="small text-muted">
                                        Geotechnical Engineering,<br> Department of Civil Engineering <br>
                                        +91-22-2576 7300<br>
                                        dc@civil.iitb.ac.in
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/swathy.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Prof. Swathy Manohar</h5>
                                    
                                    <p class="medium">Faculty In-Charge</p>
                                   
                                    <p class="small text-muted">
                                        Construction Technology & Management, Department of Civil Engineering<br>
                                        +91-22-2576-5329<br>
                                        swathym@civil.iitb.ac.in
                                    </p>
                                    
                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 "
                        >
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/srineash1.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Prof. Srineash V K</h5>
                                    <p class="medium">Faculty In-Charge</p>
                                    <p class="small text-muted">    
                                        Ocean Engineering,<br>
                                        Department of Civil Engineering <br>
                                        +91-22-2576-7328<br>
                                        srineash@iitb.ac.in
                                        
                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/eswar.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">PROF. ESWAR RAJASEKARAN</h5>
                                    <p class="medium">Faculty In-Charge</p>
                                    <p class="small text-muted">
                                        Remote Sensing, Department of Civil Engineering<br>
                                        +91-22-2576-7325<br>
                                        eswar.r@civil.iitb.ac.in
                                    </p>
                                    
                    
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            
                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/aditya.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Aditya Kumar</h5>
                                    <p class="medium">Dept. General Secretary</p>
                                    <p class="small text-muted">
                                        +91 8581954010<br>
                                        adityaku200@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="#" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/adityakumar2608" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded">
                            <div class="card-body p-0"><img src="assets/img/council2k23/mihir.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Mihir Borse</h5>
                                    <p class="medium">Joint Secretary Events</p>
                                    <p class="small text-muted">
                                        +91 9372833969<br>
                                        mihirbrs@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/mihir.borse.94/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/borsemihir/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="http://www.linkedin.com/in/mihir-borse-269463244" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/sandipan.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Sandipan Das</h5>
                                    <p class="medium">Joint Secretary Academic Affairs</p>
                                    <p class="small text-muted">
                                        +91 6033234090<br>
                                        ds.sandipan234@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/varun.raipat" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/varunraipat/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/varunraipat" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <div class="row pb-5 mb-4 outer text-center">

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/kritesh.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Kirtesh Gadiya</h5>
                                    <p class="medium">PhD Representative</p>
                                    <p class="small text-muted">
                                        +91 9653452334<br>
                                        kirtgadiya@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/cea.iitb/?hl=en/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
           
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Ashish.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Ashish Sagar</h5>
                                    <p class="medium">M.Tech Representative</p>
                                    <p class="small text-muted">
                                        +91 7060507215<br>
                                        ashishsagar4101996@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/cea.iitb/?hl=en/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/ashish-sagar-9415b4195/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Kamlesh.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Kamlesh Kushwaha </h5>
                                    <p class="medium">PG Sports Representative</p>
                                    <p class="small text-muted">
                                        +91 7532960581<br>
                                        kamleshkushwaha072@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/"class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/cea.iitb/?hl=en/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Satish.webp" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Satish Patel </h5>
                                    <p class="medium">PG Cultural Representative</p>
                                    <p class="small text-muted">
                                        +91 7064006429<br>
                                        sattish.patel@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://instagram.com/_satish_p?igshid=ZDc4ODBmNjlmNQ==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/unmate.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Aditya Umate </h5>
                                    <p class="medium">Department Research Coordinator</p>
                                    <p class="small text-muted">
                                        +91 9422816147<br>
                                        adityaumate0306@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/adi__0306/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/aditya-umate-6989ab237/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                            <!-- Card-->
                            <div class="card shadow-md border-0 rounded ">
                                <div class="card-body p-0"><img src="assets/img/council2k23/Arnav.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                    <div class="p-4">
                                        <h5 class="mb-0 names">Arnav Mishra</h5>
                                        <p class="medium">Associate Secretary </p>
                                        <p class="small text-muted">
                                            +91 9534172952<br>
                                            arnavmishra419@gmail.com
                                        </p>
                                        <ul class="social mb-0 list-inline mt-3">
                                            <li class="list-inline-item m-0"><a href ="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                            <li class="list-inline-item m-0"><a href="https://instagram.com/arnavm7203?igshid=ZDc4ODBmNjlmNQ==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/arnav-mishra-b1000924b" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Shaswat.png" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Shaswat Prasad</h5>
                                    <p class="medium">Associate Secretary</p>
                                    <p class="small text-muted">
                                        +91 9340299693<br>
                                        lastdayspid@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/itszshaswat/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href=" https://www.linkedin.com/in/shaswat-prasad-9977b8257" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/deepak.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Deepak Silaych</h5>
                                    <p class="medium">Web Secretary</p>
                                    <p class="small text-muted">
                                        +91 9001352750<br>
                                        deepaksilaych@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/profile.php?id=100073304626377" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/udank_jain/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/udank-jain-318a69227/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>   
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>   
            
                <div class="row pb-5 mb-4 outer text-center">             
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Gaurav.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Gaurav Singh</h5>
                                    <p class="medium">Design Secretary</p>
                                    <p class="small text-muted">
                                        +91 8755378764<br>
                                        singhgaurav2114@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href=" https://instagram.com/i.gaurav.s?igshid=MzNlNGNkZWQ4Mg==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href=" https://www.linkedin.com/in/gaurav-singh-b8792a254" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!--Card-->
                        <div class="card shadow-md border-0 rounded " >
                            <div class="card-body p-0"><img src="assets/img/council2k23/Pranjal.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Pranjal Khatod</h5>
                                    <p class="medium">Design Secretary</p>
                                    <p class="small text-muted">
                                        +91 9307273816<br>
                                        pranjalkhatod7410@gmail.com@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href ="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://instagram.com/pranjalkhatod?igshid=OGQ5ZDc2ODk2ZA==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/saksham.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Saksham Garg </h5>
                                    <p class="medium">Alumni Secretary</p>
                                    <p class="small text-muted">
                                        +91 9518101251<br>
                                        gargsaksham443@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://instagram.com/saksham_garg007?igshid=MzNlNGNkZWQ4Mg==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/saksham-garg-062131256//" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="row pb-5 mb-4 outer text-center">
            
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Pintu.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Pintu Kumar Saw </h5>
                                    <p class="medium">Class Representative-4th year (S2)</p>
                                    <p class="small text-muted">
                                        +91 9973685155<br>
                                        pintupksiitb@gmail.com 
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/cea.iitb/?hl=en/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Vardhan.png" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Challa Rupak Vardhan</h5>
                                    <p class="medium">Class Representative-3rd year (S1)</p>
                                    <p class="small text-muted">
                                        +91 8639506480<br>
                                        challajyothi05@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/rupak_challa/   " class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href=" https://www.linkedin.com/in/challa-rupak-vardhan/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Manish.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Manish Bhavsar</h5>
                                    <p class="medium">Class Representative-3rd year (S2)</p>
                                    <p class="small text-muted">
                                        +91 8308783417<br>
                                        manubhavsar06@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/manish06_09_/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/unmate.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Aditya Umate </h5>
                                    <p class="medium">Class Representative-3rd year (S3)</p>
                                    <p class="small text-muted">
                                        +91 9422816147<br>
                                        adityaumate0306@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/adi__0306/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.linkedin.com/in/aditya-umate-6989ab237/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="row pb-5 mb-4 outer text-center">
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/rahul.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Rahul Dara</h5>
                                    <p class="medium">Class Representative-2nd year (S1)</p>
                                    <p class="small text-muted">
                                        +91 9001565305<br> 
                                        Rdara5086@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://instagram.com/rahul_dara_9?igshid=MjEwN2IyYWYwYw==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Sohan.jpg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Sohan Raghuvanshi</h5>
                                    <p class="medium">Class Representative-2nd year (S2)</p>
                                    <p class="small text-muted">
                                        +91 8788085079<br>
                                        Redminote11t5g009@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://www.instagram.com/sohan_raghuvanshi_009/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <div class="card shadow-md border-0 rounded ">
                            <div class="card-body p-0"><img src="assets/img/council2k23/Ritu.jpeg" alt="" class="w-100 card-img-top imgs" style="border-radius: 50%;">
                                <div class="p-4">
                                    <h5 class="mb-0 names">Ritu Raj</h5>
                                    <p class="medium">Class Representative-2nd year (S3)</p>
                                    <p class="small text-muted">
                                        +91 9142246807<br>
                                        Rituraj1304@gmail.com
                                    </p>
                                    <ul class="social mb-0 list-inline mt-3">
                                        <li class="list-inline-item m-0"><a href="https://www.facebook.com/ceaiitb/" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="https://instagram.com/the_ritu_raj1304?igshid=OGQ5ZDc2ODk2ZA==" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li class="list-inline-item m-0"><a href="" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  
            </div>
      
        </div>
      
    </section>
</div>
    
    