<h1 style="align-self: center;"><b>2021-2022</b></h1>



<h3 style="padding: 5px;">Traditional Day</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/trad1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/trad2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/trad3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/trad4.jpeg" class="img-fluid images">
    </div>
</div>



<h3 style="padding:7px ;">Department Trip</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/dept.trip1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/dept.trip2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/dept.trip3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/dept.trip4.jpeg" class="img-fluid images">
    </div>
    
</div>
<!--
<h3 style="padding: 7px;">Bowling Arcade Fest
</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf4.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf3.jpeg" class="img-fluid images">
    </div>
</div> 
-->


<h3 style="padding: 7px;">Valedictory Function</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi4.jpeg" class="img-fluid images">
    </div>
</div>
