<h1 style="align-self: center;"><b>2017-2018</b></h1>

<h3>Department Freshers Orientation</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1718/10.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1718/20.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1718/22.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/FO1718/38.JPG" class="img-fluid images">
    </div>
</div>

<h3>Kurta Day - I</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11718/19.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11718/11.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11718/7.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD11718/20.jpg" class="img-fluid images">
    </div>
</div>

<h3>Know Your Department</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KYD1718/1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KYD1718/4.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KYD1718/5.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KYD1718/11.JPG" class="img-fluid images">
    </div>
</div>

<h3>Department Trip</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/6.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/50.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/47.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/21.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/26.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/49.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/depttrip1718/59.JPG" class="img-fluid images">
    </div>
</div>

<h3>Sports Weekend</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/sw1718/3.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/sw1718/30.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/sw1718/6.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/sw1718/16.JPG" class="img-fluid images">
    </div>
</div>

<h3>Night Camping</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/nc1718/7.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/nc1718/8.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/nc1718/9.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/nc1718/14.jpg" class="img-fluid images">
    </div>
</div>

<h3>Kurta Day - II</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD21718/2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD21718/19.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD21718/9.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/KD21718/14.JPG" class="img-fluid images">
    </div>
</div>

<h3>Valedictory Function</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/VF1718/8.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/VF1718/23.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/VF1718/15.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/pics/VF1718/4.JPG" class="img-fluid images">
    </div>
</div>





