p {
    font-size: 17px;
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    font-weight: 400;
}

#more {
    display: none;
}

h4 {
    font-family: 'Rakkas', cursive;
    color: seashell;
    text-align: center;
    font-size: 350%;
    font-weight: 400;
    padding: 10px 0 10px 0;
}

/*hr {
    border-top: 2px solid #b4b4b4;
}*/

hr {
    border: 3px solid rgba(255, 0, 0, 0.856);
    width: 20%;
    border-radius: 1443px;
    
}

.linkcolor {
   color: rgb(0, 255, 0);
}



#introduction {
    padding-top: 40px;
    position: relative;
}


    
.writtenpart {
   /* background-image: url(./img/backgroundintroduction.png);*/
    background-repeat: no-repeat;
    background-position: 50% 65% ;
    background-size: 20% 40%;
    padding-left: 6%;
    padding-right:6%;
    padding-top: 2%;
    padding-bottom: 2%;
  
    }

    video {
   
        font-size: 4em;
        z-index: -100000000000;
       /* min-width: 100%;
        min-height:100%;*/
        overflow: hidden;
        width:99vw;
        top: 0%;
        left: 0%;
        margin-top: -6%;
        margin-bottom: -6%;
    
    }

   /* .rectangle {
       
	
	border-left: 500px solid transparent;
	border-right: 400px solid ;
    border-bottom: 300px solid #555;
    
    top: 250px;
      }*/

      


   /* .parallax-container { 
        position:relative;
        width: 100%;
        height: 100vh;
       / /*display: flex;/
        align-items: center;
        justify-content: center;
        overflow: hidden;
    
    }

.parallax-container video {

    position:relative;
}

.overlay h1 {
    position: absolute;
    text-align: center;
    font-size: 5rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
   
    z-index: 1;
    /*opacity: 1;/
    color: white;
   



}

/*.overlay {

    position:absolute;
    opacity: 0.5;
    top: 2;

    z-index:1;

}*/

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
    overflow: hidden;
    text-align: left;
    margin-bottom: -6%;
  }
  
  .text h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    
   
    opacity: 0.9;
    text-shadow: 1px 1px 2px #000;
    font-size: 550%;
    margin-left: 250px;
    font-weight: 900;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /*.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
  
    opacity: 0.4;
  }*/


  .typewrite > .wrap { 
      border-right: 0.08em solid white;
      color: white;
      
    }

    .typewrite a {
        text-decoration: none;
    }

    
  
    .container2{
        margin-top: 300px;
    }




    @media (max-width: 992px) {
        p {
            font-size: 110%;
        }

        h4 {
            font-size: 300%;
        }

        #introduction {
            padding: 30px;
        } 
        
        .section {
            margin-bottom: -8%;
            height: 40vh;
        }

        .text {
            font-size: 50%;
        }
        
  
    .container2{
        margin-top: 300px;
    }

        
    }

    @media (max-width: 768px) {

        h4 {
            font-size: 300%;
        }

        #introduction {
            padding: 30px;
        } 
         p {
             font-size: 100%;
         }

         hr {
            border: 2px solid rgba(255, 0, 0, 0.856);
            width: 13%;
            border-radius: 1443px;
            
        }

        .section {
            margin-bottom: -0%;
            height: 30vh;
        }

        .text h1{
            font-size: 400%;
            margin-left: 70px;
        }
        
  
    .container2{
        margin-top: 200px;
    }

        
    }

    @media (max-width: 576px) {

        h4 {
            font-size: 150%;
        }
        p{
            font-size: 80%;
        }

        .writtenpart {
           /* background-image: url(./img/backgroundintroduction.png);*/
            background-repeat: no-repeat;
            background-position: 50% 50% ;
            background-size: 28% 20%;
          
            }
        
        #introduction {
                padding-top: 15px;
                padding: 4%;
               
            } 

            hr {
                border: 1px solid rgba(255, 0, 0, 0.856);
                width: 13%;
                border-radius: 1443px;
                
            }

            .section {
                margin-bottom: -10%;
                height: 30vh;
            }
    
            .text h1{
                font-size: 250%;
                margin-left: 40px;
            }
            
  
    .container2{
        margin-top: 100px;
    }

            
        

        
    }


