<section id="introduction" style="background:white">
  <div class="region">


    <div id="place1" class="writtenpart">

      <div class="remaking">
        <div style="background-color: rgb(46, 47, 48);width: 100%;">
          <h4 class="display-4">Introduction</h4>

        </div>
        <p #textContent id="read-more">

          The Civil Engineering Association (CEA) at IIT Bombay was established with the primary goal of disseminating
          knowledge and addressing industrial issues by bringing corporates, professors, and students together on a
          common platform. CEA, including both students and faculty members, is one of the most active civil engineering
          organizations in the country.<br>
          We aim to promote Civil Engineering by giving community members much-needed practical exposure through regular
          activities such as technical seminars, research symposiums, talks on ongoing research practices around the
          world, and many other related topics from distinguished practitioners of the trade.
          Collaboration between the university and industry is critical for the advancement of engineering education and
          research. In order to provide our students with practical experience in Civil Engineering, we organize several
          visits to ongoing construction sites throughout the year, allowing them to interact with key industry
          personnel. <br>
          Aside from technical aspects, we also take on the responsibility of proper student nurturing by organizing
          social events as part of extracurricular activities. Some of the events organized by CEA throughout the year
          include "Freshers Day" as a break-the-ice event for newcomers, intra-departmental sports and cultural events
          at the UG and PG levels, department treks and trips, and so on.<br>
          Aakaar, the annual festival of the Civil Engineering Department at IIT Bombay, is organized by the student
          body of the Civil Engineering Association at IIT Bombay. Aakaar gives budding civil engineers across the
          country a platform to create, innovate, and learn about various aspects of civil engineering through
          competitions, workshops, panel discussions, and symposiums (research paper conference). Aakaar has since gone
          on to become the undisputed leader in civil engineering festivals.<br>
          CEA Student Bodies are also involved in an international civil engineering organisation called 'EERI.' Since
          1948, the <a href="https://www.eeri.org/">Earthquake Engineering Research Institute </a>(EERI)
          has been the leading non-profit membership organisation connecting professionals worldwide dedicated to
          reducing earthquake risk. By establishing the <a href="https://www.eeriiitb.com/">EERI IIT Bombay </a> student
          chapter in March 2021, IIT Bombay became a part of this legacy. This chapter aims to provide information about
          earthquakes and their social, economic, and environmental consequences, as well as practises for reducing
          earthquake risk. This chapter encourages students to pursue careers in earthquake engineering and related
          fields. The EERI Student Chapter at IIT Bombay provides a venue for students to participate in a variety of
          EERI competitions and activities.
        </p>
        <!--
                 <div class="read-more-link">
                     <a readMore [readMore-length]="530" [readMore-element]="textContent">
                         <span class="less">See Less<i class="fa fa-angle-right linkcolor" aria-hidden="true"></i><i class="fa fa-angle-right linkcolor" aria-hidden="true"></i></span>
                         <span class="more">See More <i class="fa fa-angle-right linkcolor" aria-hidden="true"></i><i class="fa fa-angle-right linkcolor" aria-hidden="true"></i></span>
                     </a>
                 </div>-->

      </div>


    </div>


  </div>

</section>

<!--div class="parallax-container">
  
          
                        
          <video loop muted autoplay>
            <source src="assets/img/pics/CEAvideo.mp4" type="video/mp4">
            <source src="assets/img/pics/CEAvideo.webm" type="video/webm">
            
          </video>
  
          <div class="video-container">
                  <div class="color-overlay"></div>
                  <video autoplay loop muted>
                      <source src="video.mp4" type="video/mp4">
                  </video>
              </div>
  
          
          <div class="overlay">
  
                  
  <h1>Content above your video</h1>
                  
        
                  
          
              </div>
  
    </div-->


<div class="section">
  <div class="text  animated slideInLeft" style=" z-index: 1000000000;">
    <h1>
      <a class="typewrite" data-period="2000" data-type='[ "Civil", "Engineering", "Association", "IIT Bombay" ]'
        style="text-decoration-color:white;">
        <span class="wrap" style="color:white"></span>
      </a>
    </h1>
  </div>


  <div class="video-container">
    <div class="color-overlay"></div>
    <video autoplay loop muted poster="assets/img/videopic.jpg">
    </video>
  </div>

</div>


<div class="container2">
  <div class="ceavideo" style="margin-top: 20px;">
    <div class="color-overlay"></div>
    <video autoplay loop muted poster style="width: 98%;padding-left: 2%;">
      <source src="assets/img/pics/CEAvideo.mp4" type="video/mp4">
    </video>

  </div>
</div>