<style>
    .img-fluid {
        width: 100%;
        height: 100%;
    }
</style>

<h1 style="align-self: center;"><b>2023-2024</b></h1>

<h3 style="padding: 5px;">Department Trip</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/trip1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/trip2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/trip3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/trip4.jpeg" class="img-fluid images">
    </div>
</div>


<h3 style="padding: 5px;">Orientation</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/oreo1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/oreo2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/oreo3.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/oreo4.JPG" class="img-fluid images">
    </div>
</div>

<h3 style="padding: 5px;">Valedictory Function</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/convo1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/convo2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/convo3.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/convo4.JPG" class="img-fluid images">
    </div>
</div>

<h3 style="padding: 5px;">Teacher's Day Celebration</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/teachersday1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/teachersday2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2324/teachersday3.jpeg" class="img-fluid images">
    </div>
</div>
