<section id="introduction" style="background:white">
  <div class="region">


    <div id="place1" class="writtenpart">

      <div class="remaking">
        <div style="background-color: rgb(46, 47, 48);width: 100%;">
          <h4 class="display-4">Civil Insights</h4>

        </div>
        <p #textContent id="read-more">

          Every year, the <b>Civil Engineering Association</b> community publishes the annual magazine of the
          department of civil engineering at IIT Bombay,<b>'CIVIL INSIGHTS'</b> , which highlights the
          research work done by the department's faculty in various specialisations, as well as programmes run
          by CEA and AAKAAR throughout the year for the welfare of civil engineers in the country.
        </p>
      </div>
    </div>


  </div>


</section>

<div>
  
  <div class="slider">
    <span id="slide-1"></span>
    <span id="slide-2"></span>
    <span id="slide-3"></span>
    <div class="image-container">
      <a href="https://drive.google.com/file/d/1pYHg63QyNaLmAA4u0z3RoI_U5dAMCLf1/view"><img src="assets/img/council2k22/harendra2.jpeg" class="slide" width="500" height="300"  /></a>
      <a href="https://drive.google.com/file/d/1pYHg63QyNaLmAA4u0z3RoI_U5dAMCLf1/view"><img src="assets/img/council2k22/udank2.jpeg" class="slide" width="500" height="300" /></a>
      <a href="https://drive.google.com/file/d/1pYHg63QyNaLmAA4u0z3RoI_U5dAMCLf1/view"><img src="assets/img/council2k22/mihir.jpeg" class="slide" width="500" height="300" /></a>
      
    </div>
    <div class="buttons">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
    </div>
  </div>
</div>
<a href="https://drive.google.com/u/1/uc?id=1pYHg63QyNaLmAA4u0z3RoI_U5dAMCLf1&export=download">
<button class="udank">Tap to Download
</button>
</a>