<div class="card mb-3" style="max-width: 720px; ">
    <div class="row gy-5">
      <div class="col-md-4">
        <a href="https://drive.google.com/file/d/1PeFeHGtdbnZz7oHylaE4BwxCx9DC_Zxy/view?usp=drivesdk">
          <img src="assets/img/publications/civil-insights2021.jpeg" class="card-img" alt="..."
            style=" margin-left: 20%; margin-top: 13%;margin-bottom: 13%; margin-right: 10%; max-width: 320px;"></a>
  
      </div>
      <div class="col-md-8">
        <div class="row offset-md-1">
          <div class="col-sm-16 col-md-16 col-lg-16" style="margin-top: 10%; margin-right: 8% ">
            <p></p>
            <h4 class="card-title ">CIVIL INSIGHTS</h4>
            <p>Moments become memories when spent with great people
              We present the 3rd edition of Civil Insight - Annual civil magazine, Dedicated to precious gems of our Civil
              Engineering Department
              Flashlight through all the major fun activities and events happened during the academic year 2020-2021 in
              the department</p>
            <a href="https://drive.google.com/file/d/1PeFeHGtdbnZz7oHylaE4BwxCx9DC_Zxy/view?usp=drivesdk" class="btn btn-primary">Read
              More</a>
          </div>
        </div>
        <!-- <div class="card-body">
            <h5 class="card-title">CIVIL INSIGHTS</h5>
            <a href="https://drive.google.com/file/d/1pYHg63QyNaLmAA4u0z3RoI_U5dAMCLf1/view" class="btn btn-primary">Read More</a>
            
          </div> -->
      </div>
    </div>
  </div>
