<h1 style="align-self: center;"><b>2022-2023</b></h1>

<h3 style="padding: 5px;">Valedictory Function</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi2223_1.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi2223_2.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi2223_3.JPG" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/valfi2223_4.jpg" class="img-fluid images">
    </div>
</div>

<h3 style="padding: 5px;">Civiesta</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/civiesta2223_1.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/civiesta2223_2.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/civiesta2223_3.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/civiesta2223_4.jpg" class="img-fluid images">
    </div>
</div>


<h3 style="padding: 5px;">Civil Cafe Inauguration</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/cc1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/cc2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/cc3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/cc4.jpeg" class="img-fluid images">
    </div>
</div>


<h3 style="padding: 5px;">Traditional Day</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/T1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/T2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/T3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/T4.jpeg" class="img-fluid images">
    </div>
</div>


<h3 style="padding: 5px;">Fresher's Orientation</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/F1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/F2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/F3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/F4.jpeg" class="img-fluid images">
    </div>
</div>

<h3 style="padding: 7px;">Bowling Arcade Fest
</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf4.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/baf3.jpeg" class="img-fluid images">
    </div>
</div>


<h3 style="padding: 5px;">PG Orientation</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/P1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/P2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/P3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/P4.jpeg" class="img-fluid images">
    </div>
</div>






<h3 style="padding: 5px;">Teacher's Day</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/teacher1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/teacher2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/teacher3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/teacher4.jpeg" class="img-fluid images">
    </div>
</div>



<h3 style="padding:7px ;">Department Trip</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/malshej1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/malshej2.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/malshej3.jpg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/malshej4.jpg" class="img-fluid images">
    </div>
    
</div> 


<h3 style="padding: 7px;">60th Convocation</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/C1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/C2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/C3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/C4.jpeg" class="img-fluid images">
    </div>
</div>

<h3 style="padding: 7px;">Reunion Convocation</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/R1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/R2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/R3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/R4.jpeg" class="img-fluid images">
    </div>
</div>




<h3 style="padding: 7px;">Seminar : Durability of Structures</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/S1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/S2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/S3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/S4.jpeg" class="img-fluid images">
    </div>
</div> 



<h3 style="padding: 7px;">Open House</h3>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/O1.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/O2.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/O3.jpeg" class="img-fluid images">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-6">
        <img src="assets/img/gallery2k22/O4.jpeg" class="img-fluid images">
    </div>
</div> 

