<div style="height: 20px;"></div>
<section id="gallerysection">
  <div class="gallerywritten">
    <div class="gallerymaking" id="place2">
      <div style="background-color: rgb(46, 47, 48);width: 100%; margin-top: 30px; margin-bottom: 30px;">
        <h4 class="display-4">Publications</h4>
      </div>
      <div class="tabarea">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" routerLink="P202324" routerLinkActive="active">
            2023 - 2024
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="P202223" routerLinkActive="active">
            2022 - 2023
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="P202122" routerLinkActive="active">
          2021 - 2022
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="P202021" routerLinkActive="active">
            2020 - 2021
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="P201920" routerLinkActive="active">
            2019 - 2020
          </a>
        </li>
      </ul>
      </div>
      <div class="mainrow">
        <div class="tab-content content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

</section>
<!--

<div class="dwdw1 visibleyolg" style="padding-top:2%; background-color: rgba(177, 175, 175, 0.11);">

<router-outlet></router-outlet>
</div>
-->


